[submodule "sensors/ds18b20"]
	path = sensors/ds18b20
	url = https://github.com/arcadien/avr-ds18b20.git
[submodule "third_party/cmake-avr"]
	path = third_party/cmake-avr
	url = https://github.com/mkleemann/cmake-avr.git
[submodule "third_party/tiny-i2c"]
	path = third_party/tiny-i2c
	url = https://github.com/arcadien/tiny-i2c.git
[submodule "third_party/unity"]
	path = third_party/unity
	url = https://github.com/arcadien/Unity.git
